<nav class="navbar navbar-expand-lg boeder border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="/home">Noxe</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars text-white fs-lg"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="userIsLogin">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item" *ngIf="userIsLogin">
          <a class="nav-link" [routerLink]="['/movies', pageNumber]" routerLinkActive="active">Movies</a>
        </li>
        <li class="nav-item" *ngIf="userIsLogin">
          <a class="nav-link" [routerLink]="['/tv', pageNumber]" routerLinkActive="active">Tvshow</a>
        </li>
        <li class="nav-item" *ngIf="userIsLogin">
          <a class="nav-link" routerLink="/people" routerLinkActive="active">People</a>
        </li>
      </ul>
      <form class="d-flex align-items-center">
        <input *ngIf="userIsLogin" class="form-control me-3" type="search" placeholder="Search" aria-label="Search" />
        <a href="https://www.facebook.com/" target="_blank">
          <i class="fa-brands fa-facebook me-2"></i>
        </a>
        <a href="https://open.spotify.com/" target="_blank">
          <i class="fa-brands fa-spotify me-2"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <i class="fa-brands fa-instagram me-2"></i>
        </a>
        <a href="https://www.youtube.com/" target="_blank">
          <i class="fa-brands fa-youtube me-4">
          </i>
        </a>
        <a *ngIf="userIsLogin" class="d-flex align-items-center justify-content-center text-decoration-none">
          <i class="fa-solid fa-user me-2">
          </i>
          <span class="me-4 text-info">{{ userName == "undefined" ? "Noha" : userName}}</span>
        </a>
        <a class="text-decoration-none me-2" *ngIf="userIsLogin" routerLink="" (click)="userLogout()">
          Logout</a>
        <a class="text-decoration-none me-2" *ngIf="!userIsLogin" routerLink="/login">Login</a>
        <a class="text-decoration-none me-2" *ngIf="!userIsLogin" routerLink="/register">Register</a>
      </form>
    </div>
  </div>
</nav>