@use "src/styles/variables";

a {
  color: variables.$fontColor !important;
  &.active, &:hover {
    color: variables.$lightBgColor !important;
  }
}

nav {
  border-bottom-color: variables.$borderColor !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}
